/**
 * @file aaroncarlton.css
 */

.field-name-body ul#aaroncarlton-skills-list {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -o-column-count: 3;
  column-count: 3;
}

.field-name-body ul#aaroncarlton-interests-list {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -o-column-count: 3;
  column-count: 3;
}

#twitter_block_results {
  width: 310px;
}